<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>
    <h1>To-Do</h1>

<div class="well">
<% @todos.each do |todo| %>
  <%= todo.description %>
  <%= todo.completed %>
  <a href="borrar" data-method="delete"><p>borrar</p></a>
  <p><%= link_to "Show"%></p>
<% end %>

</div>
<h3><%= link_to "Crear To Do", todos_new_path %></h3>


</body>
</html>
