<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="jumbotron">
<div class="row">
    <% @todos.each do |todo| %>
    <div class="well">
      <%= todo.description %>
      <%= todo.completed %>
      </div>
    <% end %>
  </div>
  </div>

</body>
</html>
