<!-- Creía que había grabado bien list view, pero al revisar me dí cuenta que no, así es como debiese quedar.
Pido disculpas, abajo está el que había sido grabado a las 22hrs del jueves -->

<div class="jumbotron">
  <div class="col-md-6">
    <h3>To-Dos no Completados</h3>
    <% @todos.each do |todo| %>
    <% if todo.completed == false %>
    <div class="col-sm-12">
    <p> <%= todo.description.capitalize! %> </p>
  </div>
    <% end %>
    <% end %>
    </div>


    <div class="col-md-6">
      <h3>To-Dos Completados</h3>
      <% @todos.each do |todo| %>
      <% if todo.completed == true %>
      <div class="col-sm-12">
        <p> <%= todo.description.capitalize! %> </p>
        </div>
      <% end %>
      <% end %>

    </div>
</div>

<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="jumbotron">
<div class="row">
   <div class="col-sm-6 col-md-6">
    <% @todos.each do |todo| %>
    <div class="well">
      <%= todo.description %>
      <%= todo.completed %>
      </div>
    <% end %>
  </div>
  </div>
    </div>

</body>
</html> -->



</div>
