<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="jumbotron">
<div class="row">
   <div class="col-sm-6 col-md-6">
    <% @todos.each do |todo| %>
      <div class="well">
      <%= todo.description %>
      <%= todo.completed %>
      </div>
    <% end %>
  </div>
  </div>
    </div>

</body>
</html>
