<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= todos_path %>">To-Do</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="<%= todos_path %>">ToDos</a></li>
      <li><a href="<%= todos_list_path %>">List</a></li>
      <li><a href="<%= new_path %>">Created new ToDo</a></li>
    </ul>
  </div>
</nav>
